<div layout layout-align="center center">
    <div ng-controller="EventCtrl as eventController" class="show-events shadow-box" layout="column">

        <md-toolbar class="md-tall md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div style="margin-top: 20px;">
                    <span>Eventos</span>
                    <md-switch ng-model="showInactive" aria-label="Show active" class="md-accent small"
                               ng-hide="loading">
                        Mostrar finalizados
                    </md-switch>
                </div>
                <div>

                    <h2 class="md-toolbar-tools md-toolbar-tools-bottom">

                        <md-button ng-click="createEvent()" aria-label="Crear evento"
                                   class="md-fab md-button md-fab-bottom-right md-accent md-hue-3 add-event">
                            <md-tooltip>
                                Crear evento
                            </md-tooltip>
                            <md-icon icon="static/icons/ic_add_white_36dp.png" style="width: 24px; height: 24px;">
                            </md-icon>
                        </md-button>
                    </h2>
                </div>
            </div>
        </md-toolbar>
        <md-content layout="column" layout-align="center center" layout-padding layout-margin ng-show="loading">
            <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        </md-content>

        <md-content class="small" ng-hide="showInactive || loading">
            <md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="loading"></md-progress-circular>

            <md-list ng-if="events.length == 0">
                <md-item>
                    <md-item-content>
                        <div class="md-tile-content">
                            <h3>Aún no tienes ningún evento. Crea uno o espera que te inviten.</h3>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>

            <md-list ng-if="events.length > 0 && (events | greaterThanToday).length == 0">
                <md-item>
                    <md-item-content>
                        <div class="md-tile-content">
                            <h3>No tienes ningún evento activo. Crea uno o espera que te inviten.</h3>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>

            <md-list>
                <md-item ng-repeat="event in events | greaterThanToday">
                    <a class="a-item-list" href="/#/eventos/{{ event.id }}">
                        <md-item-content class="item-list">
                            <div class="md-tile-content">
                                <div layout="row">
                                    <h3>{{ event.title }}</h3>
                                    <button class="menu-icon" aria-label="Eres el dueño" ng-show="event.is_owner">
                                        <md-tooltip>
                                            Eres el dueño
                                        </md-tooltip>
                                        <img src="static/icons/ic_person_black_36dp.png"
                                             style="width: 20px; height: 20px; margin-top: -5px">
                                    </button>
                                </div>
                                <h4>Finaliza el: {{ event.time_to_close | date:'dd/MM/yyyy HH:mm' }}</h4>
                            </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </a>
                </md-item>
            </md-list>
        </md-content>

        <!-- TODO mostrar resultados en eventos finalizados -->
        <md-toolbar class="md-accent" ng-show="showInactive && !loading">
            <h1 class="md-toolbar-tools">
                <span>Eventos finalizados</span>
            </h1>
        </md-toolbar>
        <md-content ng-show="showInactive && !loading" class="small">

            <md-list ng-if="(events | lessThanToday).length == 0">
                <md-item>
                    <md-item-content>
                        <div class="md-tile-content">
                            <h3>No tienes ningun evento que haya finalizado.</h3>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>

            <md-list>
                <md-item ng-repeat="event in events | lessThanToday">
                    <a class="a-item-list" href="/#/eventos/finalizados/{{ event.id }}">
                        <md-item-content class="item-list">
                            <div class="md-tile-content">
                                <h3>{{ event.title }}</h3>
                                <h4>Finalizo el: {{ event.time_to_close | date:'dd/MM/yyyy HH:mm' }}</h4>
                            </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </a>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>