<div ng-controller="EventDetailCtrl as eventDetailController" layout layout-align="center center">

    <md-content layout="column" layout-align="center center" layout-padding layout-margin ng-show="loading">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </md-content>

    <div class="show-events shadow-box" layout="column" ng-if="!loading">
        <md-toolbar class="md-tall active-events">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div layout="column">
                    <span class="md-flex">{{ event.title }}</span>
                    <span class="small">Finaliza el: {{ event.time_to_close | date:'dd/MM/yyyy HH:mm' }}</span>
                </div>
                <div>

                    <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
                        <md-tooltip>
                            Añadir respuesta
                        </md-tooltip>

                        <md-button aria-label="Crear evento" ng-click="showCreateMode()" ng-show="event.is_owner || event.open"
                                   class="md-fab md-button md-fab-bottom-right md-accent md-hue-3 add-event">
                            <md-icon icon="static/icons/ic_add_white_36dp.png" style="width: 24px; height: 24px;">
                            </md-icon>
                        </md-button>
                    </h2>
                </div>
            </div>
        </md-toolbar>

        <div ng-show="createMode" layout-fill>
            <form name="addAnswers" class="padding-form" novalidate>
                <div layout="row" layout-align="end center">
                    <span>Tipo &nbsp;</span>
                    <md-switch ng-model="type" aria-label="Votaciones publicas" class="md-accent"
                               ng-change="displayType(type)">
                        {{ type_text }}
                    </md-switch>
                </div>

                <md-input-container ng-if="!type">
                    <label>Respuesta</label>
                    <input ng-model="answer.answer" type="text" ng-required="true" ng-minlength="1" md-maxlength="64">
                </md-input-container>

                <div layout="row" layout-sm="column" ng-if="type">
                    <md-input-container style="width: 100%;">
                        <label>Fecha finalización</label>
                        <input name="date" ng-model="answer.time" type="text" ng-required="true" readonly>
                    </md-input-container>

                    <md-input-container layout layout-align="center center" style="width: 100%;">
                        <md-button class="md-primary" ng-click="addDate($event)"
                                   style="margin-bottom: 0px; margin-left: 0px;">
                            Seleccionar fecha
                        </md-button>
                    </md-input-container>
                </div>

                <div layout layout-align="center center">
                    <md-button class="md-raised md-accent md-hue-3" ng-click="add()"
                               ng-disabled="addAnswers.$invalid || loading" flex-order="1" flex-order-gt-md="2">Añadir
                    </md-button>
                </div>

            </form>
        </div>

        <md-content class="small">
            <md-tabs class="md-accent md-hue-2" md-selected="data.selectedIndex" md-stretch-tabs>
                <md-tab id="tab1" aria-controls="tab1-content">
                    Respuestas
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="data.secondLocked">
                    Participantes
                </md-tab>
            </md-tabs>
            <ng-switch on="data.selectedIndex">
                <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()"
                     md-swipe-right="previous()">

                    <div ng-include="'/static/answer/templates/show-answers-simple.html'"
                         ng-show="event.num_answers == 1">
                    </div>
                    <div ng-include="'/static/answer/templates/show-answers-multi.html'"
                         ng-show="event.num_answers > 1"></div>

                </div>
                <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()"
                     md-swipe-right="previous()">
                    <div ng-include="'/static/event/templates/show-participants.html'"></div>
                </div>
            </ng-switch>
            <md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="loading"></md-progress-circular>
        </md-content>
    </div>
</div>