<div ng-controller="EventDetailCtrl as eventDetailController" layout layout-align="center center">
    <md-content layout="column" layout-align="center center" layout-padding layout-margin ng-show="loading">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </md-content>
    <div class="show-events shadow-box" layout="column" ng-if="!loading" style="padding-bottom: 15px;">
        <md-toolbar class="md-tall active-events">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div layout="column">
                    <span class="md-flex">{{ event.title }}</span>
                    <span class="small">Finaliza el: {{ event.time_to_close | date:'dd/MM/yyyy HH:mm' }}</span>
                </div>
                <div>

                    <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
                        <md-tooltip>
                            Añadir respuesta
                        </md-tooltip>

                        <md-button ng-click="createEvent()" aria-label="Crear evento"
                                   class="md-fab md-button md-fab-bottom-right md-accent md-hue-3 add-event">
                            <md-icon icon="static/icons/ic_add_white_36dp.png" style="width: 24px; height: 24px;">
                            </md-icon>
                        </md-button>
                    </h2>
                </div>
            </div>
        </md-toolbar>

        <md-content class="small">
            <md-tabs class="md-accent md-hue-2" md-selected="data.selectedIndex" md-stretch-tabs>
                <md-tab id="tab1" aria-controls="tab1-content">
                    Respuestas
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="data.secondLocked">
                    Participantes
                </md-tab>
            </md-tabs>
            <ng-switch on="data.selectedIndex">
                <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()"
                     md-swipe-right="previous()">

                    <div ng-include="'/static/answer/templates/show-answers-simple.html'"
                         ng-show="event.num_answers == 1">
                    </div>
                    <div ng-include="'/static/answer/templates/show-answers-multi.html'"
                         ng-show="event.num_answers > 1"></div>

                </div>
                <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()"
                     md-swipe-right="previous()">
                    TODO PARTICIPANTES
                </div>
            </ng-switch>
            <md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="loading"></md-progress-circular>
        </md-content>
    </div>
</div>