{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="profile">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script type="text/javascript" src="{% static "js/built/dealtday.js" %}"></script>
</head>
<body class="color-background" ng-cloak>
<div layout="column" layout-align="center center" layout-fill class="login-background whiteFrame" ng-view>
</div>

</body>
</html>