<html>
<head>
    <title>DealtDat - Forgot password</title>
</head>
<body>
<div id="center">
    {% if validlink %}
        <div class="alert alert-info">
            Please enter your new password twice.<br/>
            So we can verify you typed it in correctly.<br/>
            Password must have minimum 6 characters, maximum 20 characters and cannot contain (spaces, /, \, %, @, =)
        </div>
        <form name="validate" action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

            <div class="form-group">
                <input id="id_new_password1" name="new_password1" type="password"
                       class="form-control new_password" placeholder="Password">
            </div>
            <div class="form-group">
                <input id="id_new_password2" name="new_password2" type="password" class="form-control new_password"
                       placeholder="Repeat Password">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Change my password" id="enviar_btn"
                       data-loading-text="Change my password"/>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger" style="text-align: center">
            <h3>Fallo al resetear la contraseña</h3>

            <p>El link de reseteo de la contraseña es incorrecto, <br/>
               posiblemente porque ya ha sido utilizado. <br/>
                Por favor pide un nuevo link.</p>
        </div>
        <div id="alternative">
            <a href="/reset_password">Back</a>
        </div>
    {% endif %}
</div>
</body>
</html>