<md-whiteframe class="md-whiteframe-z4 login-content" layout="column" layout-align="center"
               ng-controller="LoginCtrl as loginController" ng-enter="login()">
    <form name="loginForm" novalidate>
        <div class="md-padding" layout="column">
            <md-input-container>
                <label>Email</label>
                <input ng-model="user.email" type="email" ng-required="true">
            </md-input-container>
            <md-input-container>
                <label>Contraseña</label>
                <input ng-model="user.password" type="password" ng-required="true">
            </md-input-container>
        </div>

        <div layout="column" layout-align="center center" ng-show="loading">
            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
        </div>

        <div layout-padding layout="column" layout-gt-lg="row"
                    layout-align-gt-lg="space-between center" layout-align="center center">
            <div  flex-order="2" flex-order-gt-lg="1">
                <md-button class="md-raised md-primary" ng-click="goRecuperarPass()">Recuperar Contraseña</md-button>
            </div>
            <div layout="row" layout-sm="column" layout-align="end center" flex-order="1" flex-order-gt-lg="2">
                <md-button class="md-raised md-primary" ng-click="goRegistro()">Registrarse</md-button>
                <md-button class="md-raised md-primary" ng-click="login()" ng-disabled="loginForm.$invalid || loading">Login</md-button>
            </div>
        </div>
    </form>

</md-whiteframe>
