<md-whiteframe class="md-whiteframe-z4 forgot-content" layout="column" layout-align="center"
               ng-controller="ForgotCtrl as forgotController">
    <form name="forgotForm" novalidate>

        <div class="md-padding" layout="column">
            <md-input-container>
                <label>Email</label>
                <input ng-model="user.email" type="email" ng-required="true">
            </md-input-container>
        </div>

        <div layout="column" layout-align="center center" ng-show="loading">
            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
        </div>

        <div layout="column" layout-gt-md="row"
                    layout-align-gt-md="space-between center" layout-align="center center">

            <md-button class="md-raised md-primary" ng-click="goLogin()" flex-order="2" flex-order-gt-md="1">Volver</md-button>
            <md-button class="md-raised md-primary" ng-click="forgot()" ng-disabled="forgotForm.$invalid || loading" flex-order="1" flex-order-gt-md="2">Recuperar</md-button>

        </div>

    </form>
</md-whiteframe>
