<md-whiteframe class="md-whiteframe-z4 register-content" layout="column" layout-align="center"
               ng-controller="RegisterCtrl as registerController" ng-enter="register()">
    <form name="newUser" novalidate>
        <div class="md-padding" layout="column">
            <md-input-container>
                <label>Email</label>
                <input name="email" ng-model="user.email" type="email" ng-required="true">

                <div ng-messages="newUser.email.$error" ng-if="newUser.email.$dirty">
                    <div ng-message="email">Introduce una dirección de email valida.</div>
                </div>
            </md-input-container>
            <div layout layout-sm="column" layout-md="column">
                <md-input-container>
                    <label>Contraseña</label>
                    <input name="password" ng-model="user.password" type="password" ng-minlength="6" ng-required="true">

                    <div ng-messages="newUser.password.$error">
                        <div ng-message="minlength">La contraseña debe tener 6 caracteres mínimo.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Repetir contraseña</label>
                    <input name="repeatPassword" ng-model="user.password_repeat" type="password" ng-minlength="6"
                           ng-required="true" compare-to="user.password">


                    <div ng-messages="newUser.repeatPassword.$error">
                        <div ng-message="minlength">La contraseña debe tener 6 caracteres mínimo.</div>
                        <div ng-message="compareTo">Las contraseñas deben ser iguales.</div>
                    </div>
                </md-input-container>
            </div>
        </div>

        <div layout="column" layout-align="center center" ng-show="loading">
            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
        </div>

        <div layout="column" layout-gt-md="row"
             layout-align-gt-md="space-between center" layout-align-sm="center center" layout-align-md="center center">

            <md-button class="md-raised md-accent md-hue-3" ng-click="goLogin()" flex-order="2" flex-order-gt-md="1">Volver</md-button>
            <md-button class="md-raised md-accent md-hue-3" ng-disabled="newUser.$invalid || loading" ng-click="register()" flex-order="1" flex-order-gt-md="2">Registrarse
            </md-button>

        </div>
    </form>
</md-whiteframe>
