<md-whiteframe class="md-whiteframe-z4 login-content" layout="column" layout-align="center">

    <md-content class="md-padding" layout="column" layout-fill>
        <md-input-container>
            <label>Email</label>
            <input ng-model="user.email" type="email">
        </md-input-container>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Contraseña</label>
                <input ng-model="user.password" type="password">
            </md-input-container>

            <md-input-container flex>
                <label>Repetir contraseña</label>
                <input ng-model="user.password_repeat" type="password">
            </md-input-container>
        </div>
    </md-content>

    <md-content layout="column" layout-gt-lg="row"
                layout-align-gt-lg="space-between center" layout-align="center center">

            <md-button class="md-raised md-primary" ng-href="/#/">Volver</md-button>
            <md-button class="md-raised md-primary" ng-href="">Registrarse</md-button>

    </md-content>

</md-whiteframe>
