.color-background {
  background-color: #037E8C; }

.small {
  font-size: 13px; }

.login-background md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px; }

.login-content {
  width: 50%; }
  @media screen and (max-width: 600px) {
    .login-content {
      width: 90%; } }
  .login-content > form > div > div > a, .login-content > form > div > div button {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px; }
    .login-content > form > div > div > a:hover span, .login-content > form > div > div button:hover span {
      color: #ffffff; }

.register-content {
  width: 50%; }
  @media screen and (max-width: 600px) {
    .register-content {
      width: 90%; } }
  .register-content > form > div > div md-input-container {
    width: 100%; }
  .register-content > form > div > a, .register-content > form > div button {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px; }
    .register-content > form > div > a:hover span, .register-content > form > div button:hover span {
      color: #ffffff; }

.forgot-content {
  width: 50%; }
  @media screen and (max-width: 600px) {
    .forgot-content {
      width: 90%; } }
  .forgot-content > form > div > a, .forgot-content > form > div button {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px; }
    .forgot-content > form > div > a:hover span, .forgot-content > form > div button:hover span {
      color: #ffffff; }

.sidenav-size {
  min-width: 100px !important; }

.menu-icon {
  background: none;
  border: none;
  margin-right: 16px; }

.menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 40px;
  max-height: 40px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 0px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height, background-color, opacity; }

.active {
  background-color: #ECECEC; }

.show-events {
  width: 80%;
  font-size: 16px !important; }

.active-events {
  background-color: #037E8C !important; }

@media screen and (max-width: 600px) {
  .add-event {
    width: 40px !important;
    height: 40px !important; } }

.new-event-form {
  width: 70%;
  margin: 20px;
  margin-bottom: 40px !important; }
  .new-event-form > form md-input-container {
    width: 100%; }
  .new-event-form > form > div > a, .new-event-form > form > div button {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px; }
    .new-event-form > form > div > a:hover span, .new-event-form > form > div button:hover span {
      color: #ffffff; }

.padding-form {
  padding: 20px; }

.num-answers {
  width: 100%; }

.valitaion-error {
  color: #F44336; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.time-date {
  font-size: 14px !important; }

.time-date > .control > .slider > .time-control > .time-inputs > input {
  font-size: 4rem !important;
  text-align: center !important; }

.time-date > .control > .full-title {
  background-color: #037E8C !important; }

.time-date.full-mode > .buttons {
  background-color: #037E8C !important; }

.time-date > .control > .slider > .date-control > .days .day-cell.selected {
  background-color: #037E8C !important; }

.new-event-form {
  width: 70%;
  margin: 20px;
  margin-bottom: 40px !important; }
  @media screen and (max-width: 600px) {
    .new-event-form {
      width: 90%; } }
  .new-event-form > div > form md-input-container {
    width: 100%; }
  .new-event-form > div > form > div > a, .new-event-form > div > form > div button {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px; }
    .new-event-form > div > form > div > a:hover span, .new-event-form > div > form > div button:hover span {
      color: #ffffff; }

.clickable {
  cursor: pointer;
  cursor: hand; }

.md-tile-content {
  padding-bottom: 5px !important; }

/*# sourceMappingURL=custom-style.css.map */
