$background-color: #037E8C;
$button-color: #F44336;
$screen-small: 600px;

body {
  background-color: $background-color;
}

.login-background {
  md-whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
  }
}

.login-content {
  width: 50%;
  @media screen and (max-width: $screen-small) {
    width: 90%;
  }
  > form {
    > div {
      > div {
        > a, button {
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 10px;
          margin-left: 10px;
          &:hover {
            span {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.register-content {
  width: 50%;
  @media screen and (max-width: $screen-small) {
    width: 90%;
  }
  > form {
    > div {
      > div {
        md-input-container {
          width: 100%;
        }
      }
      > a, button {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
        margin-left: 10px;
        &:hover {
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.forgot-content {
  width: 50%;
  @media screen and (max-width: $screen-small) {
    width: 90%;
  }
  > form {
    > div {
      > a, button {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
        margin-left: 10px;
        &:hover {
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}
