$background-color: #037E8C;
$button-color: #F44336;
$screen-small: 600px;
$font-size-small: 13px;

.color-background {
  background-color: $background-color;
}

.small {
  font-size: $font-size-small;
}

// Profile styles

.login-background {
  md-whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
  }
}

.login-content {
  width: 50%;
  @media screen and (max-width: $screen-small) {
    width: 90%;
  }
  > form {
    > div {
      > div {
        > a, button {
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 10px;
          margin-left: 10px;
          &:hover {
            span {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.register-content {
  width: 50%;
  @media screen and (max-width: $screen-small) {
    width: 90%;
  }
  > form {
    > div {
      > div {
        md-input-container {
          width: 100%;
        }
      }
      > a, button {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
        margin-left: 10px;
        &:hover {
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.forgot-content {
  width: 50%;
  @media screen and (max-width: $screen-small) {
    width: 90%;
  }
  > form {
    > div {
      > a, button {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
        margin-left: 10px;
        &:hover {
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}

// Menu

.sidenav-size{
  min-width: 100px !important;
}

.menu-icon {
  background: none;
  border: none;
  margin-right: 16px;
}

.menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 40px;
  max-height: 40px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 0px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height, background-color, opacity;
}

.active {
  background-color: #ECECEC;
}

// Event

.show-events {
  width: 80%;
  font-size: 16px !important;
}

.active-events {
  background-color: $background-color !important;
}

.add-event {
  @media screen and (max-width: $screen-small) {
    width: 40px !important;
    height: 40px !important;
  }
}

// Create Event

.new-event-form {
  width: 70%;
  margin: 20px;
  margin-bottom: 40px !important;
  > form {
    md-input-container {
      width: 100%;
    }
    > div {
      > a, button {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
        margin-left: 10px;
        &:hover {
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.padding-form {
  padding: 20px;
}

.num-answers {
  width: 100%;
}

.valitaion-error {
  color: $button-color;
}

// Hide spinner buttons input type 'number'
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// Configure date time picker

.time-date {
  font-size: 14px !important;
}

.time-date > .control > .full-title {
  background-color: $background-color !important;
}

.time-date.full-mode > .buttons {
  background-color: $background-color !important;
}

.time-date > .control > .slider > .date-control > .days .day-cell.selected {
  background-color: $background-color !important;
}

// Create answer

.new-event-form {
  width: 70%;
  @media screen and (max-width: $screen-small) {
    width: 90%;
  }
  margin: 20px;
  margin-bottom: 40px !important;
  > div {
    > form {
      md-input-container {
        width: 100%;
      }
      > div {
        > a, button {
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 10px;
          margin-left: 10px;
          &:hover {
            span {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.clickable {
  cursor: pointer; cursor: hand;
}

.md-tile-content {
  padding-bottom: 5px !important;
}
