<div layout="column" layout-align="center center" ng-show="loading" layout-margin>
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<md-list ng-if="friends.length == 0" ng-hide="loading">
    <md-item>
        <md-item-content>
            <div class="md-tile-content">
                <h3>Aún no tienes ningún amigo. Añade alguno o espera a que acepten tu petición de amistad.</h3>
            </div>
        </md-item-content>
    </md-item>
</md-list>

<md-list ng-if="friends.length > 0" ng-hide="loading">
    <md-item ng-repeat="friend in friends">
        <md-item-content>
            <div class="md-tile-content" layout="row" layout-align="space-between center" style="padding: 0 16px 0 16px;">
                <div layout="row" layout-align="center center">
                    <div class="md-tile-left">
                        <img class="icon-person" src="static/icons/ic_person_black_36dp.png">
                    </div>
                    <div>
                        <h3>{{ friend.friend }}</h3>
                    </div>
                </div>
                <div class="md-tile-rigth">
                    <img class="clickable face" src="static/icons/ic_delete_black_36dp.png"
                         ng-click="deleteFriend(friend)">
                </div>
            </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>