{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="dealtday">
<head>
    <meta charset="UTF-8">
    <title>DealtDay</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script type="text/javascript" src="{% static "js/built/dealtday.js" %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-cloak layout="column">

{%  verbatim %}
<div ng-controller="MenuCtrl" layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
            <md-toolbar>
                <h1 class="md-toolbar-tools"><a href="/#/" ng-click="close()">DealtDay</a></h1>
            </md-toolbar>
            <div>
                <a href="#/{{ navLink.url }}" ng-repeat="navLink in navLinks" class="menu-item" ng-class="navClass('{{navLink.url}}')" ng-click="close()">{{ navLink.Title }}</a>
            </div>
                <a href="logout" class="menu-item" >Salir</a>
        </md-sidenav>

        <div layout="column" layout-fill>
            <md-toolbar class="md-default-theme">

                <div class="md-toolbar-tools" ng-click="toggleLeft()">
                    <button class="menu-icon" hide-gt-md aria-label="Abrir menu">
                        <img src="static/icons/ic_menu_white_36dp.png" style="width: 24px; height: 24px; margin-top: 5px;">
                    </button>
                    <div layout="row" flex>
                        <div class="md-toolbar-item md-breadcrumb">
                            {{ currentPage }}
                        </div>
                    </div>
                </div>
            </md-toolbar>

            <div ng-view ></div>
        </div>
</div>

{% endverbatim %}
</body>
</html>