<div layout layout-align="center center">
    <div class="show-events shadow-box" layout="column">

        <md-toolbar class="md-tall md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div style="margin-top: 20px;">
                    <span>¡ Bienvenido a DealtDay !</span>
                </div>
            </div>
        </md-toolbar>

        <md-content class="home" layout-margin>
            <div class="home-text"><div class="numberCircle">1</div> Crea un evento.</div>
            <div class="home-text"><div class="numberCircle">2</div> Invita a tus amigos.</div>
            <div class="home-text"><div class="numberCircle">3</div> Vota y espera los resultados.</div>
        </md-content>
    </div>
</div>