<div layout layout-align="center center">
    <div class="show-events shadow-box" layout="column">

        <md-toolbar class="md-tall md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div style="margin-top: 20px;">
                    <span>¡ Bienvenido a DealtDay !</span>
                </div>
            </div>
        </md-toolbar>

        <md-content class="small" layout layout-align="center center" layout-margin>
            ¡ En contrucción... !
        </md-content>
    </div>
</div>