<div ng-controller="CreateAnswersCrtl as createAnswersController" layout-fill>
    <md-toolbar class="md-tall active-events">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <div>
                <span class="md-flex">Añadir respuestas</span>
            </div>
        </div>
    </md-toolbar>

    <p ng-if="answers.length == 0" layout layout-align="center center">Añade tu primera respuesta.</p>

    <div ng-if="answers.length > 0">
        <md-list>
            <md-item ng-repeat="answer in answers" layout="row">
                <md-item-content>
                    <div class="md-tile-content" layout="row">
                        <h3 ng-if="answer.type == 'TX' ">{{ answer.answer }}</h3>

                        <h3 ng-if="answer.type == 'DT' ">{{ answer.answer | date:'dd/MM/yyyy HH:mm' }}</h3>
                        <img class="clickable" src="static/icons/ic_delete_black_36dp.png"
                             style="width: 18px; height: 18px; margin-left: 5px;"
                             ng-click="deleteAnswer(answer)">
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </div>

    <form name="newAnswers" class="padding-form" novalidate>
        <span>Tipo de respuesta</span>
        <md-switch ng-model="type" aria-label="Votaciones publicas" class="md-warn" style="margin-top: 5px;"
                   ng-change="displayType(type)">
            {{ type_text }}
        </md-switch>

        <md-input-container ng-if="!type">
            <label>Respues</label>
            <input ng-model="answer.answer" type="text" ng-required="true" ng-minlength="1" md-maxlength="64">
        </md-input-container>

        <div layout="row" layout-sm="column" ng-if="type">
            <md-input-container>
                <label>Fecha finalización</label>
                <input name="date" ng-model="answer.time" type="text" ng-required="true" readonly>
            </md-input-container>

            <md-input-container>
                <md-button class="md-primary" ng-click="addDate($event)">
                    Seleccionar fecha
                </md-button>
            </md-input-container>
        </div>

        <div layout layout-align="center center">
            <md-button class="md-raised md-warn" ng-click="add()"
                       ng-disabled="newAnswers.$invalid || loading" flex-order="1" flex-order-gt-md="2">Añadir
            </md-button>
        </div>

        <div layout="column" layout-align="center center" ng-show="loading">
            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
        </div>

        <div layout="column" layout-gt-md="row"
             layout-align-gt-md="space-between center" layout-align-sm="center center"
             layout-align-md="center center" layout-margin>

            <md-button class="md-raised md-primary" ng-disabled="loading" ng-click="back()" flex-order="2" flex-order-gt-md="1">
                Atrás
            </md-button>
            <md-button class="md-raised md-warn" ng-click="create()"
                       ng-disabled="answers.length == 0 || loading" flex-order="1" flex-order-gt-md="2">Crear
            </md-button>

        </div>
    </form>

</div>